.modal .modal-body .modal-profile {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.modal .modal-body .modal-lapangan {
    width: 100%;
    object-fit: cover;
}

.form-edit .profile-edit {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.form-edit-lapangan .foto-lapangan {
    width: 50%;
    object-fit: cover;
}

.navbar .navbar-nav .img-profile {
    object-fit: cover;
}

/* Ini Style Untuk Side Bar */
.sidebar {
    background-color: #333333;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:hover i {
    color: #ffb22c !important;
}

.sidebar .nav-link,
.sidebar .nav-link i {
    color: #ffffff !important;
}

.sidebar .nav-item .nav-link.active {
    color: #ffb22c !important;
}
.sidebar .nav-item .nav-link.active i {
    color: #ffb22c !important;
}

.sidebar-divider {
    background-color: #777777 !important;
}
